
<li class="active"><a href="#" id="nav-dashboard">Dashboard</a></li>
<li><a href="#" id="nav-posts">Posts</a></li>
<li><a href="#" id="nav-stat">Statistics</a></li>
<li><a href="#" id="nav-activity">Activity</a></li>
<li><a href="#" id="nav-account">Account</a></li>