<form role="form" id="form">
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="input" class="form-control" id="inputTitle" value="{{ title }}">
  </div>
  <div class="form-group">
    <label for="taContent">Content</label>
    <textarea id="taContent" class="form-control" rows="10">{{ content }}</textarea>
  </div>
  <div class="form-group">
    <label for="inputTags">Tags</label>
    <input type="input" class="form-control" id="inputTags" value="{{ tags }}">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>