<td>{{ title }}</td>
<td>{{ tags }}</td>
<td>{{ createdDate }}</td>
<td>{{ lastModifiedDate }}</td>
<td>
    <a href="#" id="details"><span class="glyphicon glyphicon-eye-open"></span></a>
    <a href="#" id="edit"><span class="glyphicon glyphicon-pencil"></span></a> 
    <a href="#" id="remove"><span class="glyphicon glyphicon-remove"></span></a>
</td>