<div>
    <button id="create-post" class="btn btn-primary">Create New</button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Title</td>
            <td>Tags</td>
            <td>Created Date</td>
            <td>Last Modified Date</td>
        </tr>
    </thead>
    <tbody id="posts"></tbody>
</table>