extends ../layout

block content
    // h1 I'm using generator-express MVC!
    #header.container
    #main.container
    #footer.container
    #modal.modal.fade(role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                p Hello world!

