
    <div class="col-md-4 col-md-offset-4">
        <form id="signup-form" role="form">
            <div class="form-group">
                <label for="input-username">Username</label>
                <input type="input" class="form-control" id="input-username" placeholder="Enter username" value="{{ username }}" required="true" >
            </div>
            <div class="form-group">
                <label for="input-email">Email address</label>
                <input type="email" class="form-control" id="input-email" placeholder="Enter email" value="{{ email }}" required="true">
            </div>
            <div class="form-group">
                <label for="input-password">Password</label>
                <input type="password" class="form-control" id="input-password" placeholder="Password" value="{{ password }}" required="true">
            </div>
            <div class="form-group">
                <label for="input-password-conf">Password confirmation</label>
                <input type="password" class="form-control" id="input-password-conf" placeholder="Confirm Password" value="{{ passwordConfirmation }}" required="true">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
