
    <div class="col-md-4 col-md-offset-4">
        <form id="signin-form" role="form">
            <div class="form-group">
                <label for="input-email">Email address</label>
                <input type="email" class="form-control" id="input-email" placeholder="Enter email" value="{{ email }}" required="true">
            </div>
            <div class="form-group">
                <label for="input-password">Password</label>
                <input type="password" class="form-control" id="input-password" placeholder="Password" value="{{ password }}" required="true">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
